.color0 {color: #000000;background: #ffffff;}
.color1 {color: #ffffff;background: #ffccff;}
.color2 {color: #ffffff;background: #ccccff;}
.color3 {color: #ffffff;background: #ccccff;}
.color4 {color: #ffffff;background: #ccccff;}
.color5 {color: #ffffff;background: #ccccff;}
.color6 {color: #ffffff;background: #000000;}