<div class='btn btn-primary my-1' onclick="fetch_path('django/views/create.md')">
    create
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/detail.md')">
    detail
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/excel.md')">
    excel
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/form_view.md')">
    form view
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/list.md')">
    list
</div>
<div class='btn btn-success my-1' onclick="fetch_path('django/views/other/index.md')">
    other
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/template.md')">
    template
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/update.md')">
    update
</div>
