body
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	margin: 0px;
	direction: ltr;
	background-color: #fff;
  overflow-y: scroll;
  cursor: default;
}
.arabic
{
	direction: rtl!important;
	text-align: right!important;
}
.capitalize {
    text-transform: capitalize;
}
#loading_div {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 3px;
    border-radius: 0!important;
}
p {
    padding: .4rem;
}
a {
    margin-top: 0.5rem;
}
.hljs {
    padding: .4rem!important;
}
blockquote {
	display: block;
    position: relative;
	margin-bottom: 1rem;
	padding: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: .25rem;
}
blockquote p,
blockquote code {
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
}
code
{
	margin-bottom: 3rem;
	padding: 0.25rem;
	border-radius:3px;
	background: #ddd;
	color: black;
}
h2 {
    padding-top: 2rem;
}
