body
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	margin: 0px;
	direction: ltr;
	background-color: #fff;
  overflow-y: scroll;
  cursor: default;
}
/* .title
{
  text-align: center;
	font-size: 10px;
	font-weight: bold;
	visibility: hidden;
} */
/* .sub_title
{
  margin: 20px auto;
	padding: 15px;
  margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 20px;
	line-height: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
} */
/* .text
{
  margin: 5px auto;
  padding: 5px 15px;
	font-size: 14px;
	line-height: 20px;
} */
/* .link
{
  margin: 15px auto;
  padding: 5px 15px;
  max-width: 300px;
  background: #ccc;
  font-size: 18px;
	line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
} */
.arabic
{
	direction: rtl!important;
	text-align: right!important;
}
.capitalize {
    text-transform: capitalize;
}
#loading_div {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 3px;
    border-radius: 0!important;
}
p {
    padding: .4rem;
}
.hljs {
    padding: .4rem!important;
}
blockquote {
	display: block;
    position: relative;
	margin-bottom: 1rem;
	padding: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: .25rem;
}
blockquote p,
blockquote code {
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
}
code
{
	margin-bottom: 3rem;
	padding: 0.25rem;
	border-radius:3px;
	background: #ddd;
	color: black;
}