<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/create.txt')">
    create
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/delete.txt')">
    delete
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/detail.txt')">
    detail
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/list.txt')">
    list
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/login.txt')">
    login
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/mixin.txt')">
    mixin
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/override.txt')">
    override
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/pattern.txt')">
    pattern
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/template.txt')">
    template
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/class_based_views/update.txt')">
    update
</div>
