.chatBox
{
	position: relative;
	padding-bottom: 3vw;
	clear: both;
	overflow: hidden;
}
.chatBoxHead
{
	background: #ddd;
	overflow: hidden;
    padding: 3px 0px;
}
.chatBoxSetting
{
	position: absolute;
  top: 7px;
  left: 7px;
	width: 5vw;
	height: 5vw;
}
.chatBoxImg
{
	z-index: 5;
	float: right;
	width: 7vw;
	max-width: 49px;
	height: 7vw;
	max-height: 49px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}
.chatBoxTitle
{
	float: right;
	width: 65vw;
	padding: 0px 10px;
	max-width: 450px;
	font-size: 3vw;
	line-height: 7vw;
	text-align: right;
}
.chatBoxSubtext
{
	clear: both;
	padding: 5px;
	font-size: 3.3vw;
	line-height: 7vw;
	text-align: right;
}
@media only screen and (min-width: 700px)
{
	.chatBoxSetting
	{
		width: 37px;
		height: 37px;
  }
	.chatBoxTitle
	{
		/* font-size: 28px;  */
		/* line-height: 49px; */
	}
}
