html , body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.showDivAnimate
{
    z-index: 2;
	display: none;
    position: fixed;
    top: 0px;
    right: 30vh;
    width: 100vw;
    max-width: 700px;
    height: 100vh;
	background: #ffffff;
}
.errorBox
{
	position: relative;
	clear: both;
	overflow: hidden;
  padding: 30px 0px;
	text-align: center;
  font-size: 22px;
	line-height: 30px;
	color: #aaa;
}
/***********************/
.goBack
{
	float: right;
	width: 5vw;
	height: 5vw;
	padding: 3vw;
}
.head_box_svg_2
{
  left: 10vw;
}
.subjectBoxSetting
{
	position: absolute;
	fill: #ccc;
	top: 7px;
  left: 7px;
	width: 5vw;
	height: 5vw;
}
.newSubject
{
	border: solid 0.5vw #2ECC40;
  box-sizing: border-box;
}
.subjectBoxCountry
{
	float: right;
	margin: 5px;
  width: 5vw;
  max-width: 37px;
  height: 5vw;
  max-height: 37px;
	background-repeat: no-repeat;
}
.subjectBoxViewsSvg
{
	float: right;
	margin: 5px;
    width: 4vw;
    max-width: 28px;
	background-repeat: no-repeat;
	fill: #888;
}
/***********************/
.sideDiv
{
	z-index: 15;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70%;
	max-width: 0px;
	height: 100%;
	transition: max-width 0.7s;
}
.sideDivRoot
{
	z-index: 14;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
}
.sideOption
{
	float: left;
	width: 30%;
	height: 100%;
  padding: 7% 10% 3% 10%;
  box-sizing: border-box;
}
.loading_box
{
	margin: 5vh auto;
	height: 70px;
  width: 70px;
}
.input_label
{
	display: block;
	clear: both;
	transform: translateY(35px);
	margin: 0 auto;
	padding: 2%;
	width: 70%;
	height: 20px;
	line-height: 20px;
	text-align: right;
	background: white;
	transition: all 1s;
}
.input_label_focus
{
  transform:translateY(0px);
  font-size: 10px;
}
input, textarea, select
{
	display: block;
	clear: both;
	margin: 0 auto;
	padding: 2%;
	width: 70%;
	height: 20px;
	font-size: 18px;
	text-align: right;
	background: white;
	border: 0px solid #ccc;
	border-bottom: 2px solid #777;
	outline: none;
}
.button
{
	display: block;
	clear: both;
	margin: 15px auto;
	padding: 7px;
	width: 70%;
	/* font-size: 18px; */
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 50px;
}
@media only screen and (min-width: 700px)
{
	.goBack
	{
		width: 35px;
		height: 35px;
		padding: 21px;
	}
	.subjectBoxSetting
	{
		width: 35px;
		height: 35px;
	}
	.head_box_svg_2
	{
	  left: 70px;
	}
	.newSubject
	{
		border-width: 4px;
	}
}
