<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/Login.md')">
    Login
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/delete.md')">
    delete
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/mixin.md')">
    mixin
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/other.md')">
    other
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/override.md')">
    override
</div>
<div class='btn btn-primary my-1' onclick="fetch_path('django/views/other/permissions.md')">
    permissions
</div>
